body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.header-title-Banner {
    display: flex;
    background-color: #315D78;
    width:  100%;
}

.img-Banner {
    background-color: white;
    width: 20%;
}

.header-title {
    width: 50%;
    color: white;
    height: 10px;
    font-size: 50px;
    font-weight: 800;
}

.h1 {
    font-size: 30px;
    font-weight:600;
}

.h2 {
    font-size: 20px;
    font-weight: 800;
}

.h3 {
    font-size: 17px;
    font-weight: 300;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

li {
    line-height: 1.5em;
}

.table-container-div    {
    display: flex;
    border: black;
    border-style: solid;
    border-width: thin;
    margin-bottom: 30px;
    overflow:auto;
    width: 100%;
    height: auto;
}

.div-table-header-class {
    width: 40%;
    font-family: Times New Roman, Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;
}


.table-content {
    width: 100%;
    overflow:auto;
}

.table-head {
    width: 300px;

}

.table-row {
    display: flex;  
    height: 100%;
    width: 100%;
    overflow:auto;

}

.table-cell {
    display: inline-block;
    background-color: aliceblue;
    border: black;
    border-width: thin;
    border-style: solid;
    width: 98%;
    height: 30px;
    /*overflow:auto;*/
}

.hidden-Cell {
    visibility: hidden;
    width: 300px;
}

input, label {
    display:block;
}

.cell-element-div {
    width: 100%;
   
}

.display-flex {
     display:flex;/*added*/
}

.radio-multi-Label {
    width:50%;
}

.radio-multi-container-div {
    display:flex;
    width: 50%;
    margin-left: 20%;
    background-color: aliceblue;
}

fieldset {
        width: 50%;
}

.text-area {
    height: 100px;
}

.Radio-Multi-Option-Div {
    display: flex;
    width: 100%;
}

.checkboxes-container-div {
    display: flex;
    width: 50%;
    float: right;
}

.checkBox-cell {
    width: 10%;
}

.radio-container-div {
    display: flex;
    width: 50%;
    float: right;
}

.Radio-cell {
    width: 25%;
}